<div class="text-center" style="background-color:#f5bbbb; padding:10px 0px; padding: 20px 5px;">
    <a href="https://jsonworld.com"><h2>JSON WORLD</h2></a>
    <a href="https://jsonworld.com/demo/angular-firebase-crud-app" target="_blank"><span>Angular Firebase CRUD(Create, Update, Read, Delete) App</span></a>
  </div>

<section class="main-wrapper">
    <ul>
        <li><a routerLink="document-list">Document list</a></li>
        <li><a routerLink="add-document">Add Document</a></li>
    </ul>
</section>
  <router-outlet></router-outlet>